.container {
  text-align: center;
  width: 95%;
  height: 87vh;
  padding: 50px;
  background-color: #ccc;
  position: fixed;
}

h1 {
  font-size: 50px;
  margin-bottom: 10px;
  color: crimson;
}

h4 {
  font-size: 35px;
  margin-bottom: 20px;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}

.quantity_minus,
.quantity_plus {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-color: burlywood;
  border: 1px solid #ccc;
  cursor: pointer;
}

.quantity_minus span,
.quantity_plus span {
  display: inline-block;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.quantity_input {
  width: 90px;
  height: 70px;
  text-align: center;
  font-size: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 10px;
  padding: 0;
}
